$color-white: #ffffff;
$color-black: #000000;
$color-black-1: #231f20;
$color-black2: #231f20;
$color-red: #a20c33;
$color-yellow: #fbcd12;
$color-grey: #494345;
$color-grey2: #231f20;
$color-dblue: #101828;
$color-green: #147d41;
$color-green2: #33663e;
$color-almond: #f0e4c9;
$color-mandalay: #a67815;
$color-violet: #8c60c9;

//
$color-beef: rgba(195, 39, 27, 1);
$color-lamb: rgba(95, 155, 65, 1);
$color-FrozenMeat: rgba(255, 61, 98, 1);
$color-Sausages: rgba(164, 32, 55, 1);
$color-cheese: #e9a715;
$color-SeaFood: rgba(219, 87, 123, 1);
$color-pantry: rgba(125, 73, 156, 1);
$color-PlantBased: rgba(97, 197, 39, 1);
$color-beverages: rgba(114, 135, 146, 1);
$color-AssortedFrozen: rgba(61, 150, 158, 1);
$color-Dessert: rgba(165, 102, 58, 1);
$color-pork: #ff3d62;
$color-chicken: #f07225;
$color-char: #a42037;
$color-fruits: #3d969e;
$color-veg: #61c527;
$color-drygoods: #7d499c;
$color-bakery: #a5663a;
$color-pork: #ff3d62;
$color-chicken: #f07225;
$color-char: #a42037;
$color-fruits: #3d969e;
$color-veg: #61c527;
$color-drygoods: #7d499c;
$color-bakery: #a5663a;

//
$color-pork: #ff3d62;
$color-chicken: #f07225;
$color-char: #a42037;
$color-fruits: #3d969e;
$color-veg: #61c527;
$color-drygoods: #7d499c;
$color-bakery: #a5663a;
