$color-white: #ffffff;
$color-black: #000000;
$color-red: #a20c33;
$color-yellow: #FBCD12;
$color-grey: #494345;
$color-greem:#147D41;
$color-green: #147D41;
$color-almond: #F0E4C9;
$color-mandalay: #A67815;

//
$color-beef:var(--Beef, #C3271B);
$color-lamb:var(--Lamb, #5F9B41);
$color-pork:#FF3D62;
$color-chicken:#F07225;
$color-char:#A42037;
$color-cheese:var(--cheese-diary, #E9A715);
$color-fruits:#3D969E;
$color-veg:#61C527;
$color-drygoods:#7D499C;
$color-bakery:#A5663A;


