$color-white: #ffffff;
$color-black: #000000;
$color-black-1: #231f20;
$color-black2: #231f20;
$color-red: #a20c33;
$color-yellow: #fbcd12;
$color-grey: #494345;
$color-green: #147d41;
$color-green2: #33663e;
$color-almond: #f0e4c9;
$color-mandalay: #a67815;
$color-violet: #8c60c9;

//
$color-beef: var(--Beef, #c3271b);
$color-lamb: var(--Lamb, #5f9b41);
$color-pork: #ff3d62;
$color-chicken: #f07225;
$color-char: #a42037;
$color-cheese: var(--cheese-diary, #e9a715);
$color-fruits: #3d969e;
$color-veg: #61c527;
$color-drygoods: #7d499c;
$color-bakery: #a5663a;
