.qbc-footer{
    background-color: #147D41;
    &__outer{
        padding: 40px 0;
        display: flex;
        margin: 0 -8px;
        justify-content: space-between;
    }
    &__logo{
        width: calc(14% - 16px);
        margin: 0 8px;
        margin-right: 24px !important;
        // max-width: 165px;
        img{
            width: 100%;
        }
    }
    &__sec{
        width: calc(16% - 16px);
        margin: 0 8px;
        // max-width: 165px;
    }
    &__contact{
        width: calc(13% - 16px);
    }
    &__app{
        width: calc(20% - 16px);
    }
    &__connect{
        width: calc(14% - 16px);
    }
    
    &__copy{
        width: calc(20% - 16px);
        max-width: none;
        font-size: 13px;
        font-weight: 500;
        margin-left: 35px !important;
    }
}

@include mobile-tablet{
    .qbc-footer{
        &__outer{
            flex-direction: column;
            align-items: center;
        }
        .qbc-cont{
            align-items: center;
            min-height: unset;
            margin-bottom: 24px;
            .qbc-cont__head{
                margin-bottom: 10px;
            }
            .qbc-cont__body{
                align-items: center;
                margin-top: 8px;
            }
        }
        &__logo{
            width: calc(40% - 16px);
            margin: 0 0px 24px;
            margin-right: 0px !important;
            max-width: 165px;
            img{
                width: 100%;
            }
        }
        &__sec{
            width: calc(100% - 16px);
            margin: 0 8px;
            // max-width: 165px;
        }
        &__contact{
            width: calc(100% - 16px);
        }
        
        &__copy{
            width: calc(100% - 16px);
            margin-left: 8px !important;
        }
    }
}