.qbc-mainbanner{
    padding: 30px 0;
    color: #fff;
    position: relative;
    min-height: 400px;
    display: flex;
    align-items: center;

    &__bg{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }
    &__bgimg{
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    &__head{
        margin-bottom: 24px;
        font-size: 60px;
        opacity: 0.8;
        line-height: 70px;
        font-weight: 600;
        width: 40%;
        position: relative;
        span{
            position: absolute;
            bottom: 8px;
            transform: translateX(12px);
            height: 5px;
            width: 100px;
            background-color: #942136;
        }
        &.yellow{
            span{
                background-color: #FBCD12;
            }
        }
        &.pink{
            span{
                background-color: #DE706C;
            }
        }
        &.green{
            span{
                background-color: #4FA77C;
            }
        }
    }
    &-slick{
        .slick-dots{
            li{
                width: 13px;
                height: 13px;
                border: 1px solid #fff;
                border-radius: 50%;
                &.slick-active{
                    background-color: #fff;
                }
            }
            width: auto;
            right: 10px;
            bottom: 10px;
        }
    }
}

@include tablet{
    .qbc-mainbanner{
        min-height: 300px;
        &__head{
            width: 60%;
            font-size: 50px;
            line-height: 60px;
            span{
                width: 75px;
            }
        }
        &-slick{
            .slick-dots{
                li{
                    width: 10px;
                    height: 10px;
                }
            }
        }
    }
}

@include mobile{
    .qbc-mainbanner{
        min-height: 250px;
        &__head{
            width: 100%;
            font-size: 50px;
            line-height: 55px;
            span{
                width: 75px;
            }
        }
        &-slick{
            .slick-dots{
                li{
                    width: 8px;
                    height: 8px;
                }
            }
        }
        &__bgimg{
            &.only-mobile-tablet{
                display: none;
            }
        }
    }
}