.qbc-mapView {
  position: relative;
  &__map {
    background-position: left 0;
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  &__map-label {
    display: none;
    &.active {
      display: block;
    }
  }
  &__main {
    padding: 0;
  }
  &--ChilledBeef {
    .qbc-mapView__tile-body {
      color: $color-beef;
    }
    svg {
      fill: $color-beef;
    }
  }
  &--ChilledLamb {
    .qbc-mapView__tile-body {
      color: $color-lamb;
    }
    svg {
      fill: $color-lamb;
    }
    .qbc-mapView__prdctimg {
      left: 130px;
      top: 420px;
      img {
        max-width: 90px;
      }
    }
  }
  &--FrozenMeat {
    .qbc-mapView__in {
      min-height: 700px;
    }
    .qbc-mapView__tile-body {
      color: $color-FrozenMeat;
    }
    svg {
      fill: $color-FrozenMeat;
    }
    // .qbc-mapView__tile--products {
    //   transform: translate(-20%, 0);
    // }
    // .qbc-mapView__tile--prdctimg{
    //     left: 120px;
    //     top: 380px;
    //     img{
    //         max-width: 90px;
    //     }
    // }
  }
  &--SausagesBacon {
    .qbc-mapView__tile-body {
      color: $color-Sausages;
    }
    svg {
      fill: $color-Sausages;
    }
  }
  &--CheeseDairy {
    .qbc-mapView__in {
      min-height: 730px;
    }
    .qbc-mapView__tile-body {
      color: $color-cheese;
    }
    svg {
      fill: $color-cheese;
    }
    .qbc-mapView__tile--products{
      left: 25%;
      transform: translate(0%, 30px);
    }
  }
  &--Seafood {
    // .qbc-mapView__in{
    //     min-height:670px;
    // }
    .qbc-mapView__tile-body {
      color: $color-SeaFood;
    }
    svg {
      fill: $color-SeaFood;
    }
    .qbc-mapView__prdctimg {
      left: 130px;
      top: 450px;
      img {
        max-width: 200px;
      }
    }
  }
  &--PantryEssentials {
    .qbc-mapView__in {
      min-height: 700px;
    }
    .qbc-mapView__tile-body {
      color: $color-pantry;
    }
    svg {
      fill: $color-pantry;
    }
    .qbc-mapView__tile--products{
      left: 25%;
      transform: translate(0%, 30px);
    }
  }
  &--Beverages {
    .qbc-mapView__tile-body {
      color: $color-beverages;
    }
    svg {
      fill: $color-beverages;
    }
  }
  &--plantBased {
    .qbc-mapView__tile-body {
      color: $color-PlantBased;
    }
    svg {
      fill: $color-PlantBased;
    }
    .qbc-mapView__prdctimg {
      left: 100px;
      top: 450px;
      img {
        max-width: 200px;
      }
    }
  }
  &--Beverages {
    .qbc-mapView__tile-body {
      color: $color-beverages;
    }
    svg {
      fill: $color-beverages;
    }
  }
  &--AssortedFrozen {
    // .qbc-mapView__in{
    //     min-height:670px;
    // }
    .qbc-mapView__prdctimg {
      left: 100px;
      top: 450px;
      img {
        max-width: 200px;
      }
    }
    .qbc-mapView__tile--partners{
      top: 555px;
    }

    .qbc-mapView__tile-body {
      color: $color-AssortedFrozen;
    }
    svg {
      fill: $color-AssortedFrozen;
    }
  }
  &--Dessert {
    .qbc-mapView__tile-body {
      color: $color-Dessert;
    }
    svg {
      fill: $color-Dessert;
    }
  }
  &__in {
    position: relative;
    min-height: 635px;
    margin-bottom: 100px;
  }
  &__tile {
    display: flex;
    flex-direction: column;
    color: $color-grey;
    position: absolute;
    z-index: 2;
    &:hover {
      color: $color-grey;
    }
    &-head {
      font-weight: $font-medium;
    }
    &--countries {
      left: 60px;
      top: 125px;
      .qbc-mapView__tile-head {
        font-size: 110px;
        line-height: 100px;
      }
    }
    &--products {
      left: 50%;
      // top: 75%;
      // transform: translate(-35%, 70px);
      transform: translate(-25%, 0);
      top: 600px;
      .qbc-mapView__tile-head {
        font-size: 50px;
        line-height: 50px;
      }
    }
    &--partners {
      right: 25%;
      top: 485px;
      transform: translate(-65%, 0);
      // top: 75%;
      // transform: translate(-50%, 30px);
      .qbc-mapView__tile-head {
        font-size: 75px;
        line-height: 65px;
      }
    }
    &-body {
      font-size: 13px;
      display: flex;
      svg {
        width: 10px;
        margin-left: $spacer-1;
      }
    }
  }
  &__prdctimg {
    position: absolute;
    left: 70px;
    // bottom: 0;
    top: 485px;
    img {
      max-width: 225px;
    }
  }
}
.qbc-prdct-hide {
  display: none;

}
@include tablet-pro{
  .qbc-mapView {
    &__tile{
      &--countries{
        top: 75px;
      }
      &--products {
        top: 490px;
      }
      &--partners {
        top: 390px;
        transform: translate(-37px, 0);
      }
    }
    &__prdctimg {
      position: absolute;
      left: 40px;
      top: 365px;
    }
    &--ChilledLamb {
      .qbc-mapView__prdctimg {
        top: 380px;
        left: 165px;
        img{
          max-width:70px;
        }
      }
    }
    &--Seafood {
      .qbc-mapView__prdctimg {
        top: 380px;
        left: 115px;
        img{
          max-width: 155px;
        }
      }
    }
    &--plantBased {
      .qbc-mapView__prdctimg {
        top: 370px;
        left: 100px;
        img{
          max-width: 155px;
        }
      }
    }
    &--AssortedFrozen {
      .qbc-mapView__prdctimg {
        top: 370px;
        left: 100px;
        img{
          max-width: 155px;
        }
      }
    }
  }
}
@include tablet {
  .qbc-mapView {
    margin-top: 30px;
    &__in {
      min-height: 430px;
    }
    // &__map{
    //     background-position: right 70px;
    // }
    &__tile {
      &--countries {
        left: 35px;
        top: 40px;
        .qbc-mapView__tile-head {
          font-size: 85px;
          line-height: 80px;
        }
      }
      &--products {
        // transform: translate(-50%, 70px);
        top: 360px;
      }
      &--partners {
        top: 295px;
        transform: translate(-15px, 0);
        // right: 19%;
        // bottom: 10%;
        .qbc-mapView__tile-head {
          font-size: 50px;
          line-height:40px;
        }
      }
    }
    &__prdctimg {
      top: 280px;
      img {
        max-width: 135px;
      }
    }
    &--ChilledLamb {
      .qbc-mapView__prdctimg {
        left: 110px;
        top: 280px;
        img {
          max-width: 50px;
        }
      }
    }
    &--FrozenMeat {
      .qbc-mapView__in {
        min-height: 430px;
      }
    }
    &--CheeseDairy {
      .qbc-mapView__in {
        min-height: 500px;
      }
    }
    &--PantryEssentials {
      .qbc-mapView__in {
        min-height: 430px;
      }
    }
    &--Seafood {
      .qbc-mapView__prdctimg {
        top: 265px;
        left: 70px;
        img{
          max-width: 125px;
        }
      }
    }
    &--plantBased {
      .qbc-mapView__prdctimg {
        top: 275px;
        left: 70px;
        img{
          max-width: 125px;
        }
      }
    }
    &--AssortedFrozen {
      .qbc-mapView__prdctimg {
        top: 275px;
        left: 70px;
        img{
          max-width: 125px;
        }
      }
    }
  }
}
@include mobile {
  .qbc-mapView {
    display: flex;
    flex-direction: column;
    &__in {
      min-height: auto;
      display: flex;
      margin: 0 -8px $spacer-3;
    }
    &__tile {
      position: unset;
      transform: translate(0, 0px) !important;
      border: 1px solid $color-almond;
      padding: $spacer-3;
      width: calc(33.33% - 18px);
      margin: 0 8px;
      text-align: center;
      border-radius: 10px;
      &-head {
        font-size: 20px !important;
        line-height: normal !important;
      }
    }
    &__map {
      position: unset;
      min-height: 175px;
      margin-bottom: $spacer-4;
      // background-position: -14px 0;
      img {
        width: 100%;
        margin-bottom: $spacer-4;
      }
    }
    &__prdctimg {
      top: 280px;
      img {
        max-width: 135px;
      }
    }
    &--ChilledBeef {
      .qbc-mapView__prdctimg {
        top: 230px;
        left: 15px;
        img {
          max-width: 80px;
        }
      }
    }
    &--ChilledLamb {
      .qbc-mapView__prdctimg {
        top: 220px;
        left: 45px;
        img {
          max-width: 25px;
        }
      }
    }
    &--FrozenMeat {
      .qbc-mapView__in {
        min-height: auto;
      }
      .qbc-mapView__map {
        min-height: 210px;
      }
      .qbc-mapView__prdctimg {
        top: 230px;
        left: 15px;
        img {
          max-width: 80px;
        }
      }
    }
    &--CheeseDairy {
      .qbc-mapView__map{
        min-height: 195px;
      }
      .qbc-mapView__in {
        min-height: auto;
      }
      .qbc-mapView__prdctimg {
        top: 230px;
        left: 15px;
        img {
          max-width: 80px;
        }
      }
    }
    &--Seafood {
      .qbc-mapView__prdctimg {
        top: 225px;
        left: 25px;
        img {
          max-width: 70px;
        }
      }
    }
    &--PantryEssentials {
      .qbc-mapView__in {
        min-height: auto;
      }
      .qbc-mapView__map {
        min-height: 210px;
      }
      .qbc-mapView__prdctimg {
        top: 210px;
        left: 15px;
        img {
          max-width: 70px;
        }
      }
    }
    &--plantBased {
      .qbc-mapView__prdctimg {
        top: 230px;
        left: 40px;
        img {
          max-width: 50px;
        }
      }
    }
    &--AssortedFrozen {
      .qbc-mapView__prdctimg {
        top: 230px;
        left: 40px;
        img {
          max-width: 50px;
        }
      }
    }
  }
}
