.qbc-pdctCatlg{
    border-top: 15px solid #F0E4C9;
    .qbc-robust-head__sub{
        font-weight: $font-regular;
    }
    &__heroText{
        background-color: var(--productTypeColor);
        &-in{
            padding: $spacer-6 0;

            p{
                font-size: 16px;
                color:$color-white;
                margin-bottom: $spacer-4;
                &:last-child{
                    margin-bottom: $spacer-0;
                }
            }
        }
    }
    &__ti{
        padding: $spacer-4 0;
    }
    &__links{
        .qbc-cat-links{
            padding-top: 0;
            margin-top: -25px;
            padding-bottom: 30px;
        }
    }
    &__logo{
        width: 100%;
        padding: 40px 0;
        display: flex;
        align-items: end;
        justify-content: center;
        img{
            // width: 200px;
            height: 150px;
        }
    }
}
@include mobile{
    .qbc-pdctCatlg{
        &__logo{
            width: 100%;
            padding: 30px 0;
        }
        &__links{
            .qbc-cat-links{
                padding-bottom:0px;
            }
        }
    }
}