.qbc-facilities {
  display: flex;
  &__body {
    width: 40%;
    padding-right: $spacer-6;
  }
  .qbc-heading__text {
    margin-bottom: $spacer-4;
  }
  &__imgs-wrap {
    display: flex;
    flex: 1;
    margin: 0 -8px;
  }
  &__imgs {
    width: calc(33.33% - 16px);
    margin: 0 $spacer-2;
    img {
      width: 100%;
    }
  }
}

@include mobile {
  .qbc-facilities {
    flex-direction: column;
    &__body {
      width: 100%;
      padding-right: $spacer-0;
    }
  }
}
