.qbc-Robust {

    &__out {
        padding: 60px 0 0px;
    }
    .qbc-cat-head {
        margin: 32px 0;
       
    }
    .qbc-cat-head__main span {
        display: flex;
            text-align: center;
    }
}