.qbc-box{
    border-radius: 15px;
    background: #F6EFDF;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
    padding: $spacer-4;

    &__tile{
        &--small{
            width: calc(33.33% - 40px);
            margin: 0 20px;
            text-align: center;
            min-height: 170px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        &-head{
            font-size: $spacer-4;
            color: green;
            font-weight: $font-bold;
        }
        &-value{
            font-size: $spacer-4;
            color: #000;
            font-weight: $font-bold;
        }
    }
    &__wrap{
        display: flex;
        &-small{
            margin: 0 20px;
        }
    }
}