.qbc-our-jrny {
    padding: $spacer-4 $spacer-0;
    &__outer {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__sec-1 {
        width: 55%;
        &-img {
            width: 92%;
            border: 20px solid #f6f4da;
            box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.20);
            transform: rotate(-6deg);
            img {
                width: 100%;
                height: auto;
                display: block;
            }
        }
    }
    &__sec-2 {
        width: 40%;
        &-txt {
            color: #d9d9d9;
            font-size: 95px;
            font-weight: 300;
            line-height: 85px;
        }
    }
}

@include mobile-tablet {
    .qbc-our-jrny {
        &__sec-2 {
            &-txt {
                font-size: 55px;
                line-height: 55px;
            }
        }
    }
}


@include mobile {
    .qbc-our-jrny {
        &__outer {
            flex-direction: column-reverse;
        }
        &__sec-1 {
            width: 100%;
            &-img {
                width: 100%;
                box-shadow: none;
                transform: rotate(0);
            }
        }
        &__sec-2 {
            width: 100%;
            &-txt {
                font-size: 35px;
                line-height: 1.3;
                margin-bottom: $spacer-3;
            }
        }
    }
}