.qbc-part-tile {
    &__outer {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 -8px;
    }
    &__sec-1 {
        width: calc(30% - 16px);
        margin: 0 8px;
        height: auto;
        // padding: $spacer-4 $spacer-1;
        border-radius: 10px;
        border: 1px solid rgba(140, 96, 201, 0.30);
        &-img {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 150px;
            img {
                width: 100%;
                height: auto;
            }
        }
    }
    &__sec-2 {
        width: calc(70% - 16px);
        margin: 0 8px;
        // margin-left: $spacer-6;
        .qbc-heading {
            color: $color-violet;
            font-size: 20px;
            font-weight: 600;
            padding-bottom: $spacer-2;
            margin-bottom: $spacer-3;
            display: flex;
            justify-content: flex-end;
            border-bottom: 3px solid $color-violet;
            img {
                margin-left: 8px;
                width: 20px;
            }
        }
        .qbc-heading__text {
            font-size: 13px;
        }
    }
}