.qbc-brnds {
  display: flex;
  padding-top: $spacer-2;
  &__body {
    width: 60%;
    padding-left: 135px;
    order: 2;
  }
  .qbc-prdct__tiles {
    // flex: 1;
    justify-content: center;
    align-items: center;
    width:35%;
    padding-top: 0;
  }
  .qbc-prdct__tile {
    width: calc(50% - 16px);
    margin: 0 8px $spacer-3;
    border-radius: 10px;
    border: 1px solid #f0e4c9;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $spacer-3 $spacer-1;
    min-height: 185px;
    justify-content: center;
  }
  .qbc-prdct__tile-img {
    // height: 125px;
    // margin-top: -15px;
    margin-bottom: $spacer-2;
  }
  .qbc-heading__text {
    margin-bottom: $spacer-4;
  }
  .qbc-prdct__tile-txt {
    display: flex;
    align-items: center;
    img {
      // max-width: 90px;
      max-height: 30px;
    }
  }
}
@include tablet {
  .qbc-brnds {
    flex-direction: column;
    &__body {
      width: 100%;
      padding-left: $spacer-0;
      order: 1;
    }
    .qbc-prdct__tiles{
      width: 100%;
      order: 1;
    }
    .qbc-prdct__tile {
      width: calc(25% - 16px);
    }
  }
}
@include mobile {
  .qbc-brnds {
    flex-direction: column;
    &__body {
      width: 100%;
      padding-left: $spacer-0;
      order: 1;
    }
    .qbc-prdct__tiles{
      width: 100%;
      order: 2;
    }

    .qbc-prdct__tile {
      width: calc(100% - 16px);
    }
  }
}
