.qbc-prdct {
  &__main {
    .qbc-heading {
      text-align: center;
    }
    .qbc-heading__text {
      text-align: center;
      width: 80%;
      margin: 0 auto $spacer-4;
    }
  }

  &__tiles {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -8px;
    padding-top: $spacer-4;
  }
  &__tile {
    width: calc(16.66% - 16px);
    margin: 0 8px 24px;
    border-radius: 10px;
    border: 1px solid #6797d4;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $spacer-3;
    &--cv0 {
      border-color:$color-beef;
      .qbc-prdct__tile-txt {
        color: $color-beef;
      }
      svg{
        fill:$color-beef;
      }
    }
    &--cv1 {
      border-color: $color-lamb;
      .qbc-prdct__tile-txt {
        color: $color-lamb;
      }
      svg{
        fill:$color-lamb;
      }
    }
    &--cv2 {
      border-color: $color-FrozenMeat;
      .qbc-prdct__tile-txt {
        color:$color-FrozenMeat;
      }
      svg{
        stroke:$color-FrozenMeat; 
      }
    }
    &--cv3 {
      border-color:$color-Sausages;
      .qbc-prdct__tile-txt {
        color:$color-Sausages;
      }
      svg{
        fill:$color-Sausages;
      }
    }
    &--cv4 {
      border-color: $color-cheese;
      .qbc-prdct__tile-txt {
        color: $color-cheese;
      }
      svg{
        fill:$color-cheese;
      }
    }
    &--cv5 {
      border-color:$color-SeaFood;
      .qbc-prdct__tile-txt {
        color:$color-SeaFood;
      }
      svg{
        fill:$color-SeaFood;
      }
    }
    &--cv6 {
      border-color:$color-panty;
      .qbc-prdct__tile-txt {
        color:$color-panty;
      }
      svg{
        fill:$color-panty;
      }
    }
    &--cv7 {
      border-color:$color-PlantBased;
      .qbc-prdct__tile-txt {
        color:$color-PlantBased;
      }
      svg{
        fill:$color-PlantBased;
      }
    }
    &--cv8 {
      border-color:$color-beverages;
      .qbc-prdct__tile-txt {
        color:$color-beverages;
      }
      svg{
        fill:$color-beverages;
      }
    }
    &--cv9 {
      border-color:$color-AssortedFrozen;
      .qbc-prdct__tile-txt {
        color:$color-AssortedFrozen;
      }
      svg{
        // fill:$color-AssortedFrozen;
        stroke:$color-AssortedFrozen;
      }
    }
    &--cv10 {
      border-color:$color-Dessert;
      .qbc-prdct__tile-txt {
        color:$color-Dessert;
      }
      svg{
        fill:$color-Dessert;
      }
    }
    &-img {
      // height: 100px;
      margin: $spacer-2 0 $spacer-3 0;
      display: flex;
      justify-content: center;
      align-items: center;
      svg{
        height: 75px;
      }
      img {
        width: 100%;
        // height: 100%;
        align-items: center;
      }
    }
    &-txt {
      text-align: center;
      font-size: 15px;
      color: #6797d4;
    }
  }
}

@include tablet {
  .qbc-prdct {
    &__main {
      .qbc-heading__text {
        text-align: center;
        width: 100%;
        margin: 0 auto;
      }
    }

    &__tile {
      width: calc(33.33% - 16px);
    }
  }
}

@include mobile {
  .qbc-prdct {
    &__main {
      .qbc-heading__text {
        text-align: center;
        width: 100%;
        margin: 0 auto $spacer-3;
      }
    }

    &__tile {
      width: calc(100% - 16px);
    }
  }
}
