.qbc-timeline {
    &__lines {
        border: 1px $color-green;
        border-width: 7px;
        border-radius: 20px;
        position: relative;
        background-color: #fff;
        border-style: none none dashed dashed;
        border-top-left-radius: 0;
        border-bottom-right-radius: 0;
        min-height: 350px;
        display: flex;
        align-items: center;
        justify-content: center;
        &::after {
            content: "";
            position: absolute;
            top: -6.5px;
            left: -6px;
            width: 27%;
            height: 50%;
            background-color: #ffffff;
            border: 7px $color-green;
            border-style: dashed none none dashed;
            border-top-left-radius: 20px;
          }
          &::before {
            content: "";
            position: absolute;
            top: -8px;
            left: -8px;
            width: 20px;
            height: 20px;
            background-color: #fff;
          }
          &:first-child {
            &::after {
                border-top: 0;
              border-top-left-radius: 0;
            }
            .qbc-timeline__side {
              top: -8px;
            }
          }

        &--right {
            border-style: none dashed dashed none;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            border-bottom-left-radius: 0;
            &::after {
                top: -6.5px;
                right: -7px;
                bottom: unset;
                left: unset;
                border-top-right-radius: 20px;
                border-top-left-radius: 0;
                border-style: dashed dashed none none;
              }
              &::before {
                left: unset;
                right: -8px;
              }
            .qbc-timeline__side {
                left: unset;
                right: -28px;
              }
            .qbc-timeline__outer {
                flex-direction: row-reverse;
            }

            .qbc-timeline__redtext {
                text-align: right;
            }

            &.last-child {
                border-bottom: none;
                border-bottom-right-radius: 0;
              }
        }

        &.last-child {
            border-bottom: none;
            border-bottom-left-radius: 0;
            .qbc-timeline__side {
                top: unset;
                bottom: -32px;
            }
          }
    }

    &__side {
        position: absolute;
        left: -28px;
        top: 50%;
        transform: translateY(-50%);
        width: 50px;
        height: 50px;
        background-image: url("data:image/svg+xml,%3Csvg width='61' height='61' viewBox='0 0 61 61' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Group 1000004712'%3E%3Ccircle id='Ellipse 3932' cx='30.5' cy='30.5' r='30.5' fill='%23A20C33'/%3E%3Ccircle id='Ellipse 3933' cx='30.6535' cy='30.6535' r='20.6301' stroke='%23EEE4CC' stroke-width='2'/%3E%3C/g%3E%3C/svg%3E");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 2;
    }

    &__outer {
        position: relative;
        z-index: 1;
        display: flex;
        width: 80%;
        margin: 0 auto;
        padding: $spacer-6 0;
    }

    &__left {
        width: calc(50% - 32px);
        margin: 0 16px;
    }

    &__right {
        width: calc(50% - 32px);
        margin: 0 16px;
    }

    &__redtext {
        color: $color-red;
        font-size: 95px;
        line-height: 100px;
        font-weight: 300;
    }

    &__heading {
        color: $color-black-1;
        font-size: 30px;
        font-weight: 500;
        padding-bottom: $spacer-3;
    }

    &__text {
        color: $color-black-1;
        font-size: 16px;
        font-weight: 400;
        padding-bottom: $spacer-3;
    }
}

@include mobile-tablet {
    .qbc-timeline {

        &__outer {
            width: 90%;
            flex-direction: column !important;
        }

        &__left {
            width: calc(100% - 32px);
            margin: 0 16px;
        }
    
        &__right {
            width: calc(100% - 32px);
            margin: 0 16px;
        }

        &__redtext {
            &:last-child {
                padding-bottom: $spacer-3;
            }
        }
    }
}

@include mobile {
    .qbc-timeline {
        &__redtext {
            font-size: 60px;
            line-height: 65px;
        }
        &__heading {
            font-size: 25px;
        }
        .qbc-timeline__side {
            width: 30px;
            height: 30px;
        }
        .qbc-timeline__lines {
            .qbc-timeline__side {
                left: -19px;
            }
            &::after {
                left: -7px;
            }
            &:first-child {
                .qbc-timeline__side {
                    top: 15px;
                }
            }
        }
        .qbc-timeline__lines--right {
            .qbc-timeline__side {
                left: unset;
                right: -19px;
            }
            &::after {
                left: unset;
            }
        }

    }
}